<section class="expense-report">

    <h1>ID: {{expenses._id}}</h1>
    <div class="report-date">
        <img src="/images/date.png" alt="">
        <p>{{expenses.date}}</p>
    </div>

    <div class="report-category">
        <img src="/images/amount.png" alt="">
        <p>{{expenses.category}} - лв {{expenses.total}}</p>
    </div>

    <div class="report-merchant">
        <p>{{expenses.merchant}}</p>
    </div>

    <div class="report-description">
        <img src="/images/hastag.png" alt="">
        <p>{{expenses.description}}</p>
    </div>

    <div class="report-action">
        <a href="/expenses/delete/{{expenses._id}}">Stop tracking</a>
    </div>
</section>